<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy/thugWalk/001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,95}</string>
                <key>spriteSourceSize</key>
                <string>{50,95}</string>
                <key>textureRect</key>
                <string>{{0,0},{50,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy/thugWalk/002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,95}</string>
                <key>spriteSourceSize</key>
                <string>{50,95}</string>
                <key>textureRect</key>
                <string>{{50,0},{50,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy/thugWalk/003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,95}</string>
                <key>spriteSourceSize</key>
                <string>{50,95}</string>
                <key>textureRect</key>
                <string>{{100,0},{50,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy/thugWalk/004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,95}</string>
                <key>spriteSourceSize</key>
                <string>{50,95}</string>
                <key>textureRect</key>
                <string>{{150,0},{50,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy/thugWalk/005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,95}</string>
                <key>spriteSourceSize</key>
                <string>{50,95}</string>
                <key>textureRect</key>
                <string>{{200,0},{50,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy/thugWalk/006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,95}</string>
                <key>spriteSourceSize</key>
                <string>{50,95}</string>
                <key>textureRect</key>
                <string>{{250,0},{50,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy/thugWalk/007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,95}</string>
                <key>spriteSourceSize</key>
                <string>{50,95}</string>
                <key>textureRect</key>
                <string>{{300,0},{50,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy/thugWalk/008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,95}</string>
                <key>spriteSourceSize</key>
                <string>{50,95}</string>
                <key>textureRect</key>
                <string>{{350,0},{50,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/crouch/001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{400,0},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/crouch/002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{0,95},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/crouch/003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{70,95},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/crouch/004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{140,95},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/crouch/005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{210,95},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/crouchWalk/001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,59}</string>
                <key>spriteSourceSize</key>
                <string>{70,59}</string>
                <key>textureRect</key>
                <string>{{280,95},{70,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/crouchWalk/002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,59}</string>
                <key>spriteSourceSize</key>
                <string>{70,59}</string>
                <key>textureRect</key>
                <string>{{350,95},{70,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/crouchWalk/003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,59}</string>
                <key>spriteSourceSize</key>
                <string>{70,59}</string>
                <key>textureRect</key>
                <string>{{420,95},{70,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/crouchWalk/004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,59}</string>
                <key>spriteSourceSize</key>
                <string>{70,59}</string>
                <key>textureRect</key>
                <string>{{0,188},{70,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/crouchWalk/005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,59}</string>
                <key>spriteSourceSize</key>
                <string>{70,59}</string>
                <key>textureRect</key>
                <string>{{70,188},{70,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/stab/001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{140,188},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/stab/002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{210,188},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/stand/001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{280,188},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/stand/002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{350,188},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/stand/003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{420,188},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/stand/004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{0,281},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/stand/005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{70,281},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/stand/006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{140,281},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/stand/007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{210,281},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/stand/008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{280,281},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/stand/009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{350,281},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/stand/010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{420,281},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/stand/011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{0,374},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/standup/001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{70,374},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/standup/002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{140,374},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/standup/003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{210,374},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/standup/004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{280,374},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/standup/005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{350,374},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/walk/001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{420,374},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/walk/002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{0,467},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/walk/003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{70,467},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/walk/004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{140,467},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/walk/005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{210,467},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/walk/006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{280,467},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/walk2/001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{350,467},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/walk2/002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{420,467},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/walk2/003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{0,560},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/walk2/004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{70,560},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/walk2/005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{140,560},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/walk2/006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{210,560},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/walk2/007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{280,560},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mafiahouse.png</string>
            <key>size</key>
            <string>{490,653}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3a89f34090e6aa83541c909d8a77988:ef82d8ee87bb4678708a61dcfda8d14c:914130cc296354cba5a7465addf66b33$</string>
            <key>textureFileName</key>
            <string>mafiahouse.png</string>
        </dict>
    </dict>
</plist>
