<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player/stab/001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,93}</string>
                <key>spriteSourceSize</key>
                <string>{45,93}</string>
                <key>textureRect</key>
                <string>{{0,0},{45,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/stab/002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,93}</string>
                <key>spriteSourceSize</key>
                <string>{45,93}</string>
                <key>textureRect</key>
                <string>{{45,0},{45,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/stand/001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,93}</string>
                <key>spriteSourceSize</key>
                <string>{27,93}</string>
                <key>textureRect</key>
                <string>{{90,0},{27,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/walk/001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,93}</string>
                <key>spriteSourceSize</key>
                <string>{34,93}</string>
                <key>textureRect</key>
                <string>{{117,0},{34,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/walk/002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,93}</string>
                <key>spriteSourceSize</key>
                <string>{34,93}</string>
                <key>textureRect</key>
                <string>{{151,0},{34,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/walk/003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,93}</string>
                <key>spriteSourceSize</key>
                <string>{34,93}</string>
                <key>textureRect</key>
                <string>{{185,0},{34,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/walk/004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,93}</string>
                <key>spriteSourceSize</key>
                <string>{34,93}</string>
                <key>textureRect</key>
                <string>{{219,0},{34,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/walk/005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,93}</string>
                <key>spriteSourceSize</key>
                <string>{34,93}</string>
                <key>textureRect</key>
                <string>{{253,0},{34,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/walk/006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,93}</string>
                <key>spriteSourceSize</key>
                <string>{34,93}</string>
                <key>textureRect</key>
                <string>{{287,0},{34,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/walk2/001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,93}</string>
                <key>spriteSourceSize</key>
                <string>{39,93}</string>
                <key>textureRect</key>
                <string>{{321,0},{39,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/walk2/002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,93}</string>
                <key>spriteSourceSize</key>
                <string>{39,93}</string>
                <key>textureRect</key>
                <string>{{360,0},{39,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/walk2/003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,93}</string>
                <key>spriteSourceSize</key>
                <string>{39,93}</string>
                <key>textureRect</key>
                <string>{{399,0},{39,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/walk2/004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,93}</string>
                <key>spriteSourceSize</key>
                <string>{39,93}</string>
                <key>textureRect</key>
                <string>{{438,0},{39,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/walk2/005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,93}</string>
                <key>spriteSourceSize</key>
                <string>{39,93}</string>
                <key>textureRect</key>
                <string>{{477,0},{39,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/walk2/006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,93}</string>
                <key>spriteSourceSize</key>
                <string>{39,93}</string>
                <key>textureRect</key>
                <string>{{516,0},{39,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/walk2/007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,93}</string>
                <key>spriteSourceSize</key>
                <string>{39,93}</string>
                <key>textureRect</key>
                <string>{{555,0},{39,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mafiahouse.png</string>
            <key>size</key>
            <string>{594,93}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f40956aecc9e1ab206d29b7bc72d937a:c4a2b802b36266e5375f2b136a671b61:914130cc296354cba5a7465addf66b33$</string>
            <key>textureFileName</key>
            <string>mafiahouse.png</string>
        </dict>
    </dict>
</plist>
