<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy/thug/knockout/001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,34}</string>
                <key>spriteSourceSize</key>
                <string>{94,34}</string>
                <key>textureRect</key>
                <string>{{313,0},{94,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy/thug/stab/001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,95}</string>
                <key>spriteSourceSize</key>
                <string>{70,95}</string>
                <key>textureRect</key>
                <string>{{140,775},{70,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy/thug/stab/002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,95}</string>
                <key>spriteSourceSize</key>
                <string>{70,95}</string>
                <key>textureRect</key>
                <string>{{280,775},{70,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy/thug/stand/001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,95}</string>
                <key>spriteSourceSize</key>
                <string>{70,95}</string>
                <key>textureRect</key>
                <string>{{420,775},{70,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy/thug/swing/001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,95}</string>
                <key>spriteSourceSize</key>
                <string>{70,95}</string>
                <key>textureRect</key>
                <string>{{350,775},{70,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy/thug/swing/002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,95}</string>
                <key>spriteSourceSize</key>
                <string>{70,95}</string>
                <key>textureRect</key>
                <string>{{210,775},{70,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy/thug/walk/001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,95}</string>
                <key>spriteSourceSize</key>
                <string>{70,95}</string>
                <key>textureRect</key>
                <string>{{70,775},{70,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy/thug/walk/002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,95}</string>
                <key>spriteSourceSize</key>
                <string>{70,95}</string>
                <key>textureRect</key>
                <string>{{210,680},{70,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy/thug/walk/003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,95}</string>
                <key>spriteSourceSize</key>
                <string>{70,95}</string>
                <key>textureRect</key>
                <string>{{350,680},{70,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy/thug/walk/004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,95}</string>
                <key>spriteSourceSize</key>
                <string>{70,95}</string>
                <key>textureRect</key>
                <string>{{0,775},{70,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy/thug/walk/005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,95}</string>
                <key>spriteSourceSize</key>
                <string>{70,95}</string>
                <key>textureRect</key>
                <string>{{420,680},{70,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy/thug/walk/006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,95}</string>
                <key>spriteSourceSize</key>
                <string>{70,95}</string>
                <key>textureRect</key>
                <string>{{140,680},{70,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy/thug/walk/007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,95}</string>
                <key>spriteSourceSize</key>
                <string>{70,95}</string>
                <key>textureRect</key>
                <string>{{280,680},{70,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icons/exmark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,25}</string>
                <key>spriteSourceSize</key>
                <string>{10,25}</string>
                <key>textureRect</key>
                <string>{{0,0},{10,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icons/qmark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,25}</string>
                <key>spriteSourceSize</key>
                <string>{10,25}</string>
                <key>textureRect</key>
                <string>{{10,0},{10,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items/hammer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,20}</string>
                <key>spriteSourceSize</key>
                <string>{30,20}</string>
                <key>textureRect</key>
                <string>{{193,0},{30,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items/hammer_outline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,22}</string>
                <key>spriteSourceSize</key>
                <string>{33,22}</string>
                <key>textureRect</key>
                <string>{{260,0},{33,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items/key.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,11}</string>
                <key>spriteSourceSize</key>
                <string>{28,11}</string>
                <key>textureRect</key>
                <string>{{20,0},{28,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items/key_outline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,13}</string>
                <key>spriteSourceSize</key>
                <string>{30,13}</string>
                <key>textureRect</key>
                <string>{{48,0},{30,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items/knife.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,16}</string>
                <key>spriteSourceSize</key>
                <string>{35,16}</string>
                <key>textureRect</key>
                <string>{{158,0},{35,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>items/knife_outline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,18}</string>
                <key>spriteSourceSize</key>
                <string>{37,18}</string>
                <key>textureRect</key>
                <string>{{223,0},{37,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>objects/door/001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{118,0},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>objects/door/outline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,110}</string>
                <key>spriteSourceSize</key>
                <string>{20,110}</string>
                <key>textureRect</key>
                <string>{{293,0},{20,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>objects/plant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,87}</string>
                <key>spriteSourceSize</key>
                <string>{52,87}</string>
                <key>textureRect</key>
                <string>{{280,110},{52,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>objects/plant_outline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,89}</string>
                <key>spriteSourceSize</key>
                <string>{54,89}</string>
                <key>textureRect</key>
                <string>{{377,110},{54,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>objects/stair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{78,0},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>objects/stair_outline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,105}</string>
                <key>spriteSourceSize</key>
                <string>{45,105}</string>
                <key>textureRect</key>
                <string>{{332,110},{45,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>objects/vent/001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{98,0},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>objects/wall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{138,0},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/crouch/001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{420,401},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/crouch/002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{420,494},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/crouch/003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{0,587},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/crouch/004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{420,587},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/crouch/005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{70,680},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/crouch_walk/001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,59}</string>
                <key>spriteSourceSize</key>
                <string>{70,59}</string>
                <key>textureRect</key>
                <string>{{70,110},{70,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/crouch_walk/002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,59}</string>
                <key>spriteSourceSize</key>
                <string>{70,59}</string>
                <key>textureRect</key>
                <string>{{407,0},{70,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/crouch_walk/003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,59}</string>
                <key>spriteSourceSize</key>
                <string>{70,59}</string>
                <key>textureRect</key>
                <string>{{210,110},{70,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/crouch_walk/004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,59}</string>
                <key>spriteSourceSize</key>
                <string>{70,59}</string>
                <key>textureRect</key>
                <string>{{0,110},{70,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/crouch_walk/005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,59}</string>
                <key>spriteSourceSize</key>
                <string>{70,59}</string>
                <key>textureRect</key>
                <string>{{140,110},{70,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/stab/001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{210,401},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/stab/002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{280,401},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/stand/001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{0,401},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/stand/002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{140,215},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/stand/003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{280,215},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/stand/004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{420,215},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/stand/005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{210,494},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/stand/006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{431,110},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/stand/007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{70,215},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/stand/008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{0,215},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/stand/009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{210,215},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/stand/010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{70,308},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/stand/011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{0,308},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/stand_up/001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{140,401},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/stand_up/002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{70,401},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/stand_up/003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{420,308},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/stand_up/004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{350,308},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/stand_up/005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{140,308},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/swing/001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{280,308},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/swing/002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{210,308},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/walk/001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{140,587},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/walk/002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{350,215},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/walk/003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{210,587},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/walk/004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{70,587},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/walk/005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{350,587},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/walk/006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{0,680},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/walk_moon/001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{0,494},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/walk_moon/002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{350,401},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/walk_moon/003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{70,494},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/walk_moon/004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{140,494},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/walk_moon/005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{280,494},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/walk_moon/006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{350,494},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/walk_moon/007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{280,587},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mafiahouse.png</string>
            <key>size</key>
            <string>{501,870}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08e36a9112ecdc796b7bb8b7f327f86c:1ee94b5c23d6c0e9d789a2716bf726f5:914130cc296354cba5a7465addf66b33$</string>
            <key>textureFileName</key>
            <string>mafiahouse.png</string>
        </dict>
    </dict>
</plist>
